In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
fertilizer_data = pd.read_csv('../Data-processed/fertilizer.csv')
fertilizer_data = fertilizer_data.iloc[: , 2:]
fertilizer_data.head(10)

    N   P   K   pH  soil_moisture
0  80  40  40  5.5             30
1  80  40  20  5.5             50
2  40  60  80  5.5             60
3  20  60  20  5.5             45
4  20  60  20  5.5             45
5  20  40  20  5.5             30
6  20  40  20  5.5             80
7  40  60  20  5.0             60
8  20  60  20  5.5             90
9  20  10  40  5.5             30

In [3]:
fertilizer_data.shape

(22, 5)

In [4]:
fertilizer_data.describe()

                N           P           K         pH  soil_moisture
count   22.000000   22.000000   22.000000  22.000000      22.000000
mean    50.454545   45.681818   48.181818   5.409091      46.363636
std     36.315715   32.634172   51.698426   0.590326      20.827055
min     20.000000   10.000000   10.000000   4.000000      15.000000
25%     20.000000   20.000000   20.000000   5.500000      30.000000
50%     30.000000   40.000000   30.000000   5.500000      45.000000
75%     80.000000   60.000000   50.000000   5.500000      60.000000
max    120.000000  125.000000  200.000000   6.500000      90.000000

In [ ]:
from sklearn.cluster import KMeans
Kmean = KMeans(n_clusters=4)
Kmean = Kmean.fit(fertilizer_data)

In [ ]:
Kmean.cluster_centers_

In [ ]:
label = Kmean.fit_predict(fertilizer_data)
 
print(label)

In [ ]:
#Getting the Centroids
centroids = Kmean.cluster_centers_
u_labels = np.unique(label)
print(u_labels)

In [ ]:
data_0 = np.array([[100, 40, 30, 5.7, 38]])   # Expected cluster : 2
data_1 = np.array([[25, 60, 35, 5.5, 70]])    # Expected cluster : 0
data_2 = np.array([[32, 25, 40, 5.0, 45]])    # Expected cluster : 3
data_3 = np.array([[35, 130, 175, 5.5, 60]])  # Expected cluster : 1
data_4 = np.array([[50, 45, 22, 6.2, 120]])
pred = []

pred.append(int(Kmean.predict(data_0)))
pred.append(int(Kmean.predict(data_1)))
pred.append(int(Kmean.predict(data_2)))
pred.append(int(Kmean.predict(data_3)))
pred.append(int(Kmean.predict(data_4)))

print(pred)